* {
  margin: 0;
  box-sizing: border-box;
}

html, body , #root {
  height: 100%;
}

/*Welcome Styling*/

.welcomeBodyStyle {
  display:block;
  height: 730px;
  background-color: #0A0909;
}

.welcomeImage {
  display: block;
  position: absolute;
  height: 550px;
  width: 100%;
  top: 90px;
  background-image: url(https://i.ytimg.com/vi/BGtROJeMPeE/maxresdefault.jpg);
  background-position:center;
  background-size: 100% 650px;
  background-repeat: no-repeat;
  opacity: .9;
}

.mainHolder {
  text-align: center;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
}

.welcomeTitle , .aboutHeader {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
    color: #ffe09a;
    background: -webkit-repeating-linear-gradient(#eccd8d, #eccd8d, #451110);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: url(#drop-shadow);
    filter: drop-shadow(4px 4px 4px #000);
    -webkit-filter: drop-shadow(4px 4px 4px #000);
}

.buttonPosition {
  margin-top: 20px;
  height: 60px;

}

.buttonStyle {
  font-size: 22px;
  font-family: 'Libre Baskerville', serif;
  padding: 9px;
  background-color: #010a13;
  background-color: rgba(1,10,19,.65);
  background-image: url(https://lolstatic-a.akamaihd.net/frontpage/apps/prod/lcu_alpha_website/en_US/454e6053e9bc82b95291ae9ebc95922ebf866d7e/assets/img/buttons/magic.png);
  background-position: 50% 0;
  color: #aec6c7;
  border: 1px solid #2f5981;
  border-top-color: #72c4b9;
  border-image: linear-gradient(to bottom,#72c4b9,#2f5981) 1 stretch;
  border-width: 3px;
  cursor: pointer;
}
.buttonStyle:hover {
    background-position-y: 54px;
    color: #dbf8fa;
    border: 1px solid #076f9d;
    border-top-color: #cdfafa;
    border-image: linear-gradient(to bottom,#cdfafa,#076f9d) 1 stretch;
    border-width: 3px;
}

.footerInfo{
  position: absolute;
  display: block;
  color: darkgrey;
  bottom: 10px;
}
.aboutInfo > a {
  cursor:pointer;
}

/*About Styling */
.aboutBackdrop{
  background-image:url(https://signup.na.leagueoflegends.com/theme/signup_new_theme/img/bg.jpg);
  min-height:100%;
}

.aboutMain {
  color: whitesmoke;
  width: 70%;
  margin: 0 auto;
}
.aboutTitle{
  padding-top: 15px;
  width: 165px;
  font-family:'Libre Baskerville', serif;
  font-size: 40px;
  color: #076f9d;
  border-bottom: 1px solid darkgrey;
}

.aboutHeader{
  padding-top: 15px;
  padding-bottom: 15px;
}

.aboutBody{
  font-family: 'Open Sans', serif;
  line-height: 25px;
  color:#dbf8fa;
  padding-bottom: 20px;
  border-bottom: 1px solid whitesmoke;
}

.aboutBodyBottom{
  font-family: 'Open Sans', serif;
  color:#dbf8fa;
  padding-bottom: 80px;
}
.linksStyle {
  color:#dbf8fa;
  padding-bottom: 9px;
}

/*ChampionList Styling*/

.listBack {
  background-color: #011317;
  min-height:100%;
  text-align: center;
}


.champListHolder {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  background-color: whitesmoke;
  width: 90%;
  min-height:100%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.listChamp {
  display: inline-block;
  text-align: left;
  /*background-color: lightgrey;*/
  background-color: #5E5E5E;
  width:350px;
  height:240px;
  border: 1px solid #333;
  border-radius: 8px;
  margin: 7px;
  margin-top:10px;
  margin-bottom:10px;
  overflow:hidden;
  opacity: .85;
}

.listChamp:hover {
  opacity: 1;
  box-shadow: 1px 2px 18px 3px rgba(79,79,79,0.85);
}

.starPinUnchecked , .starPinChecked{
  float:right;
  font-size:26px;
  margin-right: 8px;
  margin-top: 2px;
  cursor:pointer;
}

.starPinChecked{
  color:gold;
}

.disableChamp {
  position: absolute;
  float: right; 
  bottom: 0px; 
  right: 0px;
}

.champListName {
  position: relative;
  top: 200px;
  width: 88%;
  font-size:28px;
  color:#dbf8fa;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-left:10px;
  cursor: pointer;
}

.champListImg {
  margin-top: -32px;
  background-color:orange;
  max-width:50%;
  max-height:60%;
  cursor:pointer;
}

/*Champion Styling*/

.champTop {
  display: block;
  height: 400px;
  border-bottom: 4px solid black;
}

.topImageHolder{
  display: block;
  float: left;
  min-width: 45%;
  max-width: 45%;
  min-height:85%;
  background-color: burlywood;
}

.topImage {
  display: block;
  max-height: 20%;
  max-width:200px;
}

.champHeader {
  float:right;
  width: 54%;
  background-color: goldenrod;
  text-align: left;
}

.champName {
  font-size: 30px;
}
.champTitle {
  font-size: 20px;
}

.topStats {
  display: block;
  clear: right;
  float: right;
  width:54%;
  height: 70%;
  background-color: lawngreen;
}
.statsTitle {
  font-size: 28px;
  border-bottom: 1px solid black;
}
.statsArea {
  background-color: salmon;
  height:82%;
  margin: 10px;
}

.statsAreaTop {
  display: inline-block;
  height: 50%;
}
.statsAreaBot {
  display: inline-block;
  height:50%;
}


.champBot{
  height:990px;
  background-color: aqua;
}

.botTitle{
  font-size: 32px;
}

.botSpell {
  margin: 0 auto;
  background-color: mediumorchid;
  height: 18%;
  width: 80%;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius:6px;
  padding-top: 10px;
}

.spellImage {
  float: left;
  margin-left:10px;
}


.spellName {
  font-size: 24px;
}

.spellDesc {
  height: 40%;
  clear:both;
}



/*NoMatch Styling*/
.errorMessage {
  position: fixed;
  margin-right: 0;

  width: 350px;
  bottom: 140px;
  left: 80px;

  color: #FA940F;
  text-shadow: 1px 1px 0px rgba(84,83,72,0.91) ;
  font-family:'Open Sans', serif;
  font-size: 30px;
}
.errorLink{
  color: whitesmoke;
  cursor: pointer;
}

.noMatchBack {
  position: absolute;
  width: 1300px;
  min-width: 1000px;

  height: 730px;
  min-height: 500px;
  max-height:100%;

  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(http://oce.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/saleannouncebanner_feb.2016_en.jpg);
  background-color:black;
}

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v4-latin/libre-baskerville-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
    url('../fonts/libre-baskerville-v4-latin/libre-baskerville-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/libre-baskerville-v4-latin/libre-baskerville-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/libre-baskerville-v4-latin/libre-baskerville-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/libre-baskerville-v4-latin/libre-baskerville-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/libre-baskerville-v4-latin/libre-baskerville-v4-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-latin/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-latin/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-latin/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-latin/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* bitter-regular - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bitter-v8-latin/bitter-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bitter-Regular'),
       url('../fonts/bitter-v8-latin/bitter-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bitter-v8-latin/bitter-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bitter-v8-latin/bitter-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bitter-v8-latin/bitter-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bitter-v8-latin/bitter-v8-latin-regular.svg#Bitter') format('svg'); /* Legacy iOS */
}